                                       /* NAVIGATION BAR */

hr.topNav {
    margin-top: 0px;
    margin-bottom: 0px;
}

div.navbar {
    justify-content:stretch;
    text-align:center;
    background-color: #b29fc9;
      background-image: linear-gradient(to top left, #70a9a9, #ecf0fc);
    
    padding: 10px;
    
}

hr.bottomNav {
    margin-top: 0px;
}

a.BUTTON {
    font-size: 120%;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Audiowide", sans-serif;
}

a.BUTTON:hover {
  color: black;
    border-style: outset;
    background-image: radial-gradient(#ecf0fc, #80b3b3);/*(to right,  #b29fc9, #5c00e6,  #b29fc9);*/
}

a:hover {
    color: #0086b3;
}



                                       /* GENERAL STYLING */
               /* COLOR PALLATE:
                * #99ccff LIGHT BLUE
                * #009999 TEAL
                * #80b3b3 MUTED BLUE 
                * #70a9a9 SLIGHTLY DARKER VERSION OF ^^*/

body {
    background-color: #f1f1f1;
    font-family: helvetica, arial, sans-serif;
    font-size: 1.2em;
}

div.page {
    margin: 50px;
}

div.header {
    background-color: #b29fc9;
    background-image: linear-gradient(to bottom right, #70a9a9, #ecf0fc);
    border-style: ridge;
}

img.logo {
    display: flex;
    margin: auto;
    width: 180px;
    padding-top: 10px;
}

h1 {
    text-align: center;
    font-size: 2em;
    /*color: #661aff;*/
     font-family: "Audiowide", sans-serif;
    color: black;
    text-shadow: 1px 1px 5px #70a9a9;
}

h1.head {
    font-size: 5em;
    line-height: .4em;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: "Audiowide", sans-serif;
}

span.B {
    font-style: italic;
}

span.c {
    padding-left: .1em;
    font-weight: bold;
    font-size: larger;
}

h2.head {
    font-size: 1.5em;
    font-family: "Audiowide", sans-serif;
}

h2 {
    text-align: center;
    font-size: 1.8em;
    color: #009999;
     font-family: "Audiowide", sans-serif;
    
}

h3 {
    text-align: center;
    font-size: 1.4em;
    color: #009999;
    /*text-shadow: 1px 1px 4px #70a9a9;*/
    font-family: "Audiowide", sans-serif;
    
}



p.center {
    text-align: center;
    font-size:larger;
}




                              /* HOMEPAGE STYLING */

div#mission {
    
}

div#greeting {
    /*background-image: linear-gradient(#f1f1f1, #b29fc9);*/
    
}

div#involve {
    /*background-image: linear-gradient(#b29fc9, #f1f1f1);*/
    border-style: none dashed;
}

h3#liColor {
    text-align: center;
    font-size: 1.4em;
    color: black;
    text-shadow: 1px 1px 5px #70a9a9;
    
}

span.steps {
    font-size: larger;
}

a.introLinks {
    color: black;
}

a.introLinks:hover {
    color: #009999;
}

/*a.introLinks:hover {
    color: #732673;
}*/

em#textDeco {
    text-decoration: underline;
}

section#about {
    /*background-image: linear-gradient(#f1f1f1, #b29fc9);*/
}

i b {
    color: #009999;
}

dfn {
    color: #009999;
}

.head {
    color: black;
}

p {
    padding: 10px;
    line-height: 1.8em;
}

p.definition {
    text-align:center;
    font-size: 1.2em;
}

                            /* FOOTER CONTENT */

footer {
    background-color: #70a9a9;
      background-image: linear-gradient(to top, #70a9a9, #f1f1f1/*#ecf0fc*/);
    
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align:center;

}

a {
    color: #000099;
}

div.footer {
    display: flex;
    flex-direction: row;
}

div.PSU {
    flex:2
}


div.contact {
    flex:2;
}

div.internal {
    flex:1;
}

                              /* PROPOSAL FORM PAGE */

section#formBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

iframe#proposal {
    
    flex: 100%;
}


                              /* RESOURCES PAGE */
          
div.button-group {
    display: flex;
}
          
span#services{
    background-image:url(images/button_images/button1.jpg);
    background-size: 600px;
    display: block;
    padding: 10%;
    margin: auto;
    background-position: center;
    border-radius: 20px;
    background-repeat: no-repeat;
    width: 250px;
}


span#tech {
    background-image:url(images/button_images/button2.jpg);
    background-size: 600px;
    display: block;
     padding: 10%;
    margin: auto;
    background-position: center;
    border-radius: 20px;
    background-repeat: no-repeat;
    width: 250px;
}
   
a.push {
     font-family: "Audiowide", sans-serif;
     color: white;
     text-shadow: 2px 2px 5px black;
     font-size: 2em;
     font-weight: bold;
     text-align: center;
}
                         
                         
                         
                         
                         
                             /* PREVIOUS PROJECTS PAGE */
                         
                         
                         
                         
                         
                         


                     /* 404 ERROR PAGE */

div#error {
    /*background-image: url(images/rawr404.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
}

h1#oops {
    color:black;
    font-size: 3em;
    margin-bottom: 0px;
    text-align:left;
    margin-left: 60px;
}

p.errorMsg {
    /*text-align:center;*/
    margin-left: 70px;
}



img#errorimg {
    display: flex;
  /*  margin-left: auto;
  margin-right: auto;*/
  float:right;
  padding-right: 100px;
  
  
}

