/* NAVIGATION BAR */

hr.topNav {
    margin-top: 0px;
    margin-bottom: 0px;
}

div.navbar {
    justify-content:stretch;
    text-align:center;
    background-color: #6787e7;
    background-image: linear-gradient(to top left, #6797e7, #ecf0fc);
    
    padding: 10px;
    
}

hr.bottomNav {
    margin-top: 0px;
}

a.BUTTON {
    font-size: 120%;
    color: black;
}

a:hover {
  color: white;
    background-color: steelblue;
}



/* GENERAL STYLING */

body {
    
}

div.header {
    background-color: #6787e7;
    background-image: linear-gradient(to bottom right, #6797e7, #ecf0fc);
    border-style: ridge;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

/* HOMEPAGE STYLING */

div.page {
    margin: 50px;
}

p {
    padding: 10px;
    line-height: 1.8em;
}

p.emphasis {
    text-align:center;
    font-size: larger;
}

/* FOOTER CONTENT */

footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align:center;
}

div.footer {
    
}

